* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
header {
    font-family: "Droid Sans Mono Slashed", cursive;
    color: #48E09F;
    text-align: center;
    background: tomato;
    line-height: 3rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

section {
    background: rgba(169, 169, 169, 0.2);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

#room-container {
    display: flex;
    background: rgba(169, 169, 169, 0.3);
    flex-direction: column-reverse;
    align-items: center;
    width: 90vw;
}

.room {
    box-shadow: 0 1px 6px rgba(0, 100, 100, .9);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    line-height: 1.5rem;
    margin: calc(1rem/6) 0;
    justify-content: space-between;
    align-content: center;
}

.participants-container > li {
    list-style-type: none;
}
.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    text-align:center;
    transition: all 0.2s;
}
.button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    .button{
        display:block;
        margin:0.4em auto;
        }
}

#room-modal {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 50vw ;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 1px 7px blue;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: center;
}

#room-name {
    margin: 2px;
    width: 70%;
}

#room-password {
    margin: 2px;
    width: 70%;
}

#create-button {
    width: auto;
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#close-modal {
    position: absolute;
    top: 1px;
    right: 1px;
    background: none;
    width: 1rem;
    height: 1rem;
    box-shadow: 0 1px 7px red;
    border: 1px red;
}
